<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TableViewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tampilan Table Data KTP</div>
        <hr />
        <table border="2">
            <tr th:each="baki:${ListData}">
                <td th:text="${baki[0]}"></td>
                <td th:text="${baki[1]}"></td>
                <td th:text="${baki[2]}"></td>
                <td th:text="${baki[3]}"></td>
            </tr>
    </body>
</html>